{% extends "base.html" %}
{% block title %}Curriculum{% endblock %}
{% block content %}
<h1 class="h4 mb-4">Curriculum Manager</h1>

<h5>Programmes <a class="btn btn-sm btn-success" href="{% url 'programme_add' %}">Add</a></h5>
<ul>
  {% for p in programmes %}
    <li><a href="{% url 'programme_edit' p.pk %}">{{ p.code }}</a> – {{ p.name }}</li>
  {% endfor %}
</ul>

<h5 class="mt-4">Majors <a class="btn btn-sm btn-success" href="{% url 'major_add' %}">Add</a></h5>
<ul>
  {% for m in majors %}
    <li><a href="{% url 'major_edit' m.pk %}">{{ m.code }}</a> – {{ m.name }} ({{ m.programme.code }})</li>
  {% endfor %}
</ul>

<h5 class="mt-4">Subjects <a class="btn btn-sm btn-success" href="{% url 'subject_add' %}">Add</a></h5>
<ul>
  {% for s in subjects %}
    <li><a href="{% url 'subject_edit' s.pk %}">{{ s.code }}</a> – {{ s.title }}</li>
  {% endfor %}
</ul>

<h5 class="mt-4">Trimesters <a class="btn btn-sm btn-success" href="{% url 'trimester_add' %}">Add</a></h5>
<ul>
  {% for t in trimesters %}
    <li>{{ t.code }} {{ t.start }} – {{ t.end }}</li>
  {% endfor %}
</ul>

<h5 class="mt-4">Classes <a class="btn btn-sm btn-success" href="{% url 'offering_add' %}">Add</a></h5>
<ul>
  {% for o in offerings %}
    <li>{{ o.subject.code }} {{ o.trimester.code }} – {{ o.lecturer.get_full_name }}</li>
  {% endfor %}
</ul>
{% endblock %}
